<%- include('includes/header.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs') %>

    <h1>Iterate Recipes Here.</h1>
    <ul>
        <% recipes.forEach(function(item) { %>
            <li><%= item.title %>,<%= item.numOfIngredients %>, <%= item.calories %> - <a href="/addToMealPlan/<%= item.id %>">Add To Meal Plan</a> - <a href="/edit/<%= item.id %>">Edit</a></li>
        <% }); %>
    </ul>
    <%- include('includes/footer.ejs') %>
</body>
</html>
